* {
    font-family: "Lato", "arial", sans-serif;
}
header {
    background-color: #F8F8F8 ;
    height: 89px;
    margin-top: -45px;
    border: 1px solid #F0F0F0;
    width: 100%;
}
li a:link {
    color: #6E6E6E;
    text-decoration: none;
}
li a:visited {
    color: #6E6E6E;
}
header ul li {
    float: right;
    margin-top: 35px;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-size: 100%;
    font-weight: 300;

}
header div h1 {
   float: left;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 300;
    color: #6E6E6E;
}
.current {
    border: 1px solid #E8E8E8;
    background-color: #E8E8E8;
    height: 3em;
}
#profilePic {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}
.thumbnail {
    margin-right: 55px;
}
.container1 {
    margin-top: 40px;
}
.publications img {
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
}
table {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
table td {
    padding: 10px;
    border-collapse: collapse;
}
table tr:nth-child(even) {
    background-color: #F8F8F8;
}
footer {
    background-color: #F8F8F8;
}
.container h2 {

}
